.svg-pi-wrapper {
  position: relative;
}

.svg-pi {
  transform: rotate(-90deg); /* Fix the orientation */
}

.svg-pi-label {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dark .svg-pi-track {
  stroke: #515151;
}

.svg-pi-indicator {
  animation: animate 1s ease-in-out;
}

@keyframes animate {
  0% {
    stroke-dashoffset: 250%;
  }
  20% {
    stroke-dashoffset: 250%;
  }
}
