@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Inter", sans-serif;
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.Mui-selected {
  background-color: #ececec;
}
.Mui-selected .tab-icon {
  color: #000000;
}
.Mui-selected .collapsedtab-icon {
  color: #000000;
}
.Mui-selected .tab-text {
  color: #000000;
}

#settingsModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer components {
  .tab-icon {
    @apply relative flex items-center justify-center mr-5 text-lighttxt transition-all duration-300 ease-linear;
  }
  .collapsedtab-icon {
    @apply relative flex items-center justify-center text-lighttxt transition-all duration-300 ease-linear;
  }
  .tab-text {
    @apply font-semibold text-xl text-lighttxt align-text-bottom transition-all duration-300 ease-linear;
  }
  .tab-item {
    @apply relative flex items-center p-5 rounded-2xl mb-0 transition-all duration-300 ease-linear hover:bg-panelhover xl:mb-2;
  }
  .tab-tooltip {
    @apply absolute w-auto p-2 left-24 rounded-md min-w-max bg-gray-400 text-xs font-semibold transition-all duration-200 scale-0 origin-left z-10 hidden;
  }

  .menu-item {
    @apply bg-white p-3 rounded-xl outline-none hover:bg-gray-100;
  }

  .settings-btn {
    @apply p-4 pl-5 bg-gray-100 text-left rounded-2xl mt-2 w-full box-border;
  }
  .settings-tab {
    @apply relative flex items-center p-5 rounded-2xl mb-0 transition-all duration-300 ease-linear hover:bg-panelhover xl:mb-2;
  }
  .settings-txt {
    @apply font-medium text-xl text-black align-text-bottom transition-all duration-100 ease-linear;
  }
  .settings-btntxt {
    @apply font-medium text-lg text-black align-text-bottom transition-all duration-300 ease-linear;
  }
}
